<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.simple.pojo.Article">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="tags" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="like_article" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, title, content, tags, like_article, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xj_article
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xj_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.simple.pojo.Article">
    insert into xj_article (id, user_id, title, 
      content, tags, like_article, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 0,
      now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.simple.pojo.Article">
        insert into xj_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="likeArticle != null">
                like_article,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="likeArticle != null">
                #{likeArticle,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.simple.pojo.Article">
        update xj_article
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="likeArticle != null">
                like_article = #{likeArticle,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.simple.pojo.Article">
    update xj_article
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      like_article = #{likeArticle,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getAllArticleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xj_article
    </select>

    <select id="searchByTags" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from xj_article where tags = #{tags}
    </select>

    <select id="searchByKeyWord" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from xj_article
        where
        title LIKE CONCAT('%',#{keyWord} ,'%')
        or
        content LIKE CONCAT('%',#{keyWord} ,'%')
    </select>

    <update id="updateUserUpdateArticleTime" parameterType="int">
        update xj_article set update_time = now()
        where id=#{id}
    </update>

    <update id="iLikeIt" parameterType="int">
        update xj_article set like_article = like_article + 1 where id = #{articleId}
    </update>

    <update id="idontLikeIt" parameterType="int">
        update xj_article set like_article = like_article - 1 where id = #{articleId}
    </update>
</mapper>